body{
    background-color:blue(255, 188, 234)
    color:yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
{


header{
      font-size: 50px
      text-align: center;
    border: double 
