body{
    background-color:blue (255, 188, 234);
    color:yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}


header{
      font-size: 50px;
      text-align: center;
    border: double 5px blue (248, 178, 214);
    /* margin: 30px; */
    padding: 30px; 
    color : aquamarine(236, 31, 151)
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

 section{
    background-color: blue(243, 11, 116, 0.527);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
   margin-right: 10%;
}
